@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$color-bg : #323e4e;
$font-families: 'Press Start 2P', cursive;
$gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
$gradient-bar: linear-gradient(0deg, rgba(197, 1, 0, 1) 0%,rgba(251, 156, 0, 1) 75%);
$color-footer: #031b34;
$color-tile: #5c646f ;
$color-text: #f6f7f7;
$color-subtext: #fe9e00;
$color-subtext-shadow: #705614;
$color-border: #42c39a;